build/
target/
bin/

.idea/
.vscode/
# config/checkstyle/

*.iml
*.log

.DS_Store
.gradle/

docker/
.dockerignore
docker-compose.yml

.env
.env.local
.env.*.local
.env.example

.git/
.gitignore
.gitattributes
.github/
README.md