services:
  db:
    build: 
      context: .
      dockerfile: ./docker/postgres/Dockerfile
      args:
        - DB_PORT=${POSTGRE_PORT}
    container_name: pj2024_psql
    restart: always
    volumes:
      - dbdata:/var/lib/postgresql/data
    env_file:
      - .env
    ports:
      - '${POSTGRE_PORT}:${POSTGRE_PORT}'
    environment:
      - TZ=Asia/Tokyo
      - POSTGRES_DB=${POSTGRE_DB}
      - POSTGRES_USER=${POSTGRE_ADMIN}
      - POSTGRES_PASSWORD=${POSTGRE_PW}
    networks:
      - local-app-network

  pgadmin:
    build: 
      context: .
      dockerfile: ./docker/pgadmin/Dockerfile
      args:
        - PG_PORT=${PG_PORT}
    container_name: pj2024_pgadmin
    ports:
      - "${PG_PORT}:80"
    volumes:
      - pgadmindata:/var/lib/pgadmin
    env_file:
      - .env
    environment:
      - PGADMIN_DEFAULT_EMAIL=${PGADMIN_DEFAULT_EMAIL}
      - PGADMIN_DEFAULT_PASSWORD=${PGADMIN_DEFAULT_PASSWORD}
      - PGADMIN_CONFIG_SERVER_MODE=False
      - PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED=False
    depends_on:
      - db
    networks:
      - local-app-network

  java:
    build:
      context: .
      dockerfile: ./docker/java/Dockerfile
      args:
        - API_PORT=${API_PORT}
        - LOCALDEV_WORKDIR=${LOCALDEV_WORKDIR}
        - BUILD_WORKDIR=${BUILD_WORKDIR}
        - DEPLOY_WORKDIR=${DEPLOY_WORKDIR}
        - JAVA_CONTAINER_USER=${JAVA_CONTAINER_USER}
        - APP_NAME=${APP_NAME}
        - JAVA_CONTAINER_USER_ID=${JAVA_CONTAINER_USER_ID}
        - SPRING_PROFILES_ACTIVE=${SPRING_PROFILES_ACTIVE}
    container_name: pj2024_api
    env_file:
      - .env
    tty: true
    volumes:
      - gradle_cache:/home/${JAVA_CONTAINER_USER}/.gradle
    user: "${JAVA_CONTAINER_USER_ID}:${JAVA_CONTAINER_USER_ID}"
    ports:
      - "${API_PORT}:${API_PORT}"
      - "${DEBUG_PORT}:${DEBUG_PORT}"
      - "${LIVE_RELOAD_PORT}:${LIVE_RELOAD_PORT}"
    environment:
      - TZ=Asia/Tokyo
      - JAVA_OPTS=-Dspring.devtools.livereload.enabled=true -Dspring.devtools.restart.enabled=true
      - SPRING_PROFILES_ACTIVE=dev
    depends_on:
      - db
    links:
      - db
    restart: no
    networks:
      - local-app-network

networks:
  local-app-network:
    driver: bridge

volumes:
  dbdata:
  pgadmindata:
  gradle_cache: