name: CheckStyle Code Quality Check

on:
    pull_request:
        branches:
            - main
    push:
        branches:
            - main

    workflow_dispatch:

permissions:
    contents: read

jobs:
    checkstyle:
        runs-on: ubuntu-latest
        
        steps:
            -   name: Check out repository
                uses: actions/checkout@v4

            -   name: Set up JDK 21
                uses: actions/setup-java@v4
                with:
                    distribution: 'temurin'
                    java-version: '21'
                    cache: 'gradle'

            -   name: Make Gradle executable
                run: chmod +x ./gradlew

            -   name: Run CheckStyle
                run: ./gradlew checkstyleMain checkstyleTest