name: Java CI

on:
    workflow_dispatch:
    pull_request:
        branches:
            - main
permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            TZ: Asia/Tokyo
        
        steps:
            -   name: checkout repository
                uses: actions/checkout@v4
            
            -   name: Set up OpenJDK 21
                uses: actions/setup-java@v3
                with:
                    distribution: 'temurin'
                    java-version: '21'
                    cache: 'gradle'
            
            -   name: Setup Gradle
                uses: gradle/actions/setup-gradle@v4
            
            -   name: Make Gradle executable
                run: chmod +x ./gradlew
            
            -   name: build and test application
                run: ./gradlew build test
            
            -   name: Upload CheckStyle results
                if: always()
                uses: actions/upload-artifact@v4
                with:
                    name: test-results
                    path: |
                        build/reports/tests/test