name: Java CI

on:
    workflow_dispatch:
    pull_request:
        branches:
            - main
permissions:
    contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        env:
            TZ: Asia/Tokyo
        
        steps:
            -   name: checkout repository
                uses: actions/checkout@v4
            
            -   name: Set up OpenJDK 21
                uses: actions/setup-java@v3
                with:
                    distribution: 'temurin'
                    java-version: '21'
                    cache: 'gradle'
            -   name: permission gradlew
                working-directory: ./DiscussionAppApplication
                run: chmod +x gradlew
            
            -   name: build and test application
                working-directory: ./DiscussionAppApplication
                run: ./gradlew build -x test
            
            -   name: save JAR
                uses: actions/upload-artifact@v4
                with:
                    name: spring-boot-app
                    path: build/libs/*.jar